@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/* thank you! http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

html {
  background: #fff;

}

body {
  background: #fff;
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  /*font-weight: 300;*/
  line-height: 20px;
  
}

.wrapper {
  width: 820px;
  margin: 0 auto;
  background: #fff;
 
}

header, section, footer {
  display: block;
}

a {
  color: #37b7e5;
  text-decoration: none;
}

a:hover {
  color: #216781;
}

p {
  padding: 0px 0px 0px 0px;
}

li {
    padding: 0px 0px 0px 0px;
}

ul {
    padding: 0px 0px 0px 50px;
   /* list-style: none;*/
        }

strong {
  color: #37b7e5;
  /*font-weight: 600;*/
}

/*------------------------ HEADER ------------------------*/

header {
  position: relative;
  padding: 15px 20px;
  border-bottom: 0px solid #B2D2E1;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  color: #999;
}

header.without-description h1 {
  margin: 10px 0;
}

header p {
  margin: 0;
  color: #999;
  width: 300px;
  font-size: 15px;
}

header p.view {
  display: none;
  font-weight: 700;
}

header p.view a {
  color: #06c;
}

header p.view small {
  font-weight: 400;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  height: 30px;
  padding: 1px 0;
  background: #fff;

  width: auto;
}
header ul:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -4px;
  right: -5px;
  bottom: -6px;

}
header ul li {
  width: 79px;
  float: left;
  border-right: 1px solid #999;
  height: 27px;
}
header ul li.single {
  border: none;
}
header ul li + li {
  width: 78px;
  /*border-left: 1px solid #999;*/
}
header ul li + li + li {
  border-right: none;
  width: 79px;
}
header ul a {
  line-height: 1.2;
  font-size: 11px;
  color: #37b7e5;
  display: block;
  text-align: center;
  font-weight: 400;
  padding-top: -5px;
  height: 20px;
}
header ul a strong {
  font-size: 14px;
  color: #37b7e5;
  display: block;
}

header ul a:hover strong  {
  font-size: 14px;
  color: #216781;
  display: block;
}

section {

  padding: 0px 20px;
  font-size: 15px;
  border-top: 0px solid #fff;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #999;
  padding: 0;
  margin: 70px 0 5px 0px;
  line-height: 1.2;
}

p, ul, ol, table, pre, dl {
  margin: 10 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
  text-transform:uppercase;
  color: #444;
}

h2 {
  font-size: 20px;
  text-transform:uppercase;
  /*font-weight: bold;*/
  color: #000;
}

h3, h4, h5, h6 {
  color: #494949;
}

blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img {
  max-width: 100%;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
  overflow-x: auto
}

pre {
  padding: 10px 0px 10px 50px;
  background: #3A3C42;
  color: #f8f8f2;
  margin: 0 0px 0px;
}
pre code {
  color: #f8f8f2;
}

li pre {
  margin-left: -60px;
  padding-left: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

dt {
  color: #222;
  font-weight: 700;
}

th {
  color: #222;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 20px 0 20px;
}

/*------------------------ FOOTER ------------------------*/

footer {
  color: #999; 
  margin: 0 auto;
  padding: 60px 0 0 0;
  overflow: hidden;
  width: 780px; 
}

footer a {
  color: #37b7e5;
}

footer p {
  float: left;
}
footer p + p {
  float: right;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }

  .wrapper {
    width: 100%;
  }

  footer {
    padding: 20px;
    width: auto;
  }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {
    float: none;
  }
}
@media print, screen and (max-width:580px) {
  header ul {
    display: none;
  }

  header p.view {
    display: block;
  }

  header p {
    width: 100%;
  }
}
@media print {
  header p.view a small:before {
    content: 'at http://github.com/';
  }
}